@charset "utf-8";
/* CSS Document */

.alg {
    color: #212121;
    font-size: 18px;
    font-weight: normal;
}

.plg {
    color: #212121;
    font-size: 22px;
    font-weight: normal;
}

.middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 70px;
}
.fixed_img{
    top:200px;
    display:block;
    height:150px;
    position:fixed;
    right:00px;
    width:150px;
    z-index:999;
}