<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>隐私政策</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
	<br>
	<p>期末考啦App尊重并保护所有使用服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，期末考啦App会按照本隐私权政策的规定使用和披露您的个人信息。但期末考啦App将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，期末考啦App不会将这些信息对外披露或向第三方提供。期末考啦App会不时更新本隐私权政策。</p><br>
	
	<h4>使用范围：</h4><br>
	<p>期末考啦App面向的对象是所有已注册的在校学生，登陆的账号就是您的手机号</p>
	<br>
	
	
	<h4>信息安全：</h4><br>
	<p>1. 期末考啦App将通过对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在“完善的安全措施”。</p>
	<p>2. 期末考啦App不会在收集、使用任何用户信息；不会在用户未许可的情况下向任何第三方提供、出售、分享、出租你的个人信息。</p>
	<br>
	
	<h4>联系方法：</h4><br>
	<p>客服邮箱：service@finalexam.cn我们可能会不时修改我们的隐私政策。这些修改会反映在本政策中。任何修改都会将您的满意度置于首位。我们鼓励您时常来查阅我们的隐私政策。</p>
	<br>
	
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>