<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qmkl.dao.DisLikeDao">

    <resultMap type="Like" id="DisLikeResult">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="voteTime" column="voteTime"/>
        <result property="fileId" column="fileId"/>
        <result property="status" column="status"/>
    </resultMap>

    <!-- void addDisLike(@Param("userId") Integer userId, @Param("voteTime") Date voteTime, @Param("fileId") Integer fileId, @Param("status") boolean status); // 添加记录-->
    <insert id="addDisLike">
        insert into dislikes (userId,voteTime,fileId,status) values (#{userId},#{voteTime},#{fileId},#{status})
    </insert>

    <!--  Like getDisLike(@Param("userId") Integer userId, @Param("fileId") Integer fileId); // 获取记录-->
    <select id="getDisLike" resultMap="DisLikeResult">
        select * from dislikes where userId= #{userId} and fileId = #{fileId}
    </select>

    <!-- void updateDisLikeStatus(@Param("userId") Integer userId, @Param("fileId") Integer fileId); // 更新状态-->
    <update id="updateDisLikeStatus">
        update dislikes set status = !status where userId= #{userId} and fileId = #{fileId}
    </update>

</mapper> 